.home {

    .card {
        background-color: #31c88e;
        width: calc(100% / 5 - 40px);
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;

        h2 {
            margin-bottom: 20px;
        }

        span {
            display: block;
            margin-top: 10px;
        }

    }
}